global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
    - targets: 
        - '172.31.36.143:9100'  #Private IPs of Node
        - '172.31.32.16:9100'   #Private IPs of Node
        - '172.31.37.85:9100'   #Private IPs of Node
